{% extends 'base.html.twig' %}

{% block title %}Troc'Eco | Nos catégories{% endblock %}

{% block contenuPrincipal %}

<div>
    <h1 class="text-center">Catégorie Puériculture</h1>
</div>
<div>
    <ul>
    {% for produit in produits %}
        <div class="card mb-3 card-size" style="max-width: 1120px;">
            <div class="row g-0">
                <div class="col-md-4 image">
                <img src="{{ asset('img/' ~ produit.photo) }}" class="img-thumbnail" alt="{{ produit.titre }}"/>
                </div>
                <div class="col-md-8">
                    <div class="card-body background-maison">
                        <h5 class="card-title">{{ produit.titre }}</h5>
                        <p class="card-text">{{ produit.description }}</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>

{% endblock %}