{% extends 'parent.html.twig' %}
{# PAGE CREATION DE COMPTE#}
{% form_theme Formulaire 'bootstrap_4_layout.html.twig' %}

{# MAIN #}
{% block contenuPrincipal %}
{{parent()}}
<section>
    <h1 class="text-center bg-info">Connexion</h1>
{# FORMULAIRE#}
    <div class="formulaire">
        <button type="button" class="btn btn-outline-info">
            <a class="text-dark btn" href="{{ path('connexion') }}">J'ai déjà un compte</a>
        </button>
        <button type="button" class="btn btn-outline-info">
            <a class="text-dark btn" href="{{ path('creation') }}">Je crée un compte</a>
        </button>
        {{ form(Formulaire) }}
    </div>
</section>

{% endblock %}