/********** GENERAL **********/

*
{
    box-sizing: border-box;
}

/*********** HEADER **********/

.bg-header {
    background-color: #B28871;
}

/*div qui contient logo et nav*/
.header{ 

    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.logo-header{
    margin: 10px;
}

/*lien de la navbar*/
header a{
    color: white;
    margin-left: 20px;
    margin-top:25px;
    text-decoration: none;
}



/*********** BODY **********/
main{
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /*par defaut:contain= payage ou portrait( applique img tt largeur du main sans tt couvrir), */
    padding: 35px/*1ER top bottom*/ 0/*2EME left right*/;

}

/********* PAGES CONNEXION *********/

/********* FORMULAIRE *********/

.formulaire{ /* contenaire du formulaire*/

    background: #CFFFE2;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
    padding: 10px;
    width: 70%;

}