/********** GENERAL **********/

*
{
    box-sizing: border-box;
}

 

/*********** HEADER **********/
header{
    background-color: #B28871;
}

/*div qui contient logo et nav*/
.header{ 
    
    display:flex;
    justify-content: space-between;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    
    height: 90px;
    width: auto;
    
}

.logo:hover{
    
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

/*lien de la navbar*/

header a{
    font-family: 'Lato';
    color: white;;
    margin-left: 40px;
    margin-top:25px;
    text-decoration: none;
    text-transform: uppercase;

}

header a:hover{
    color: #ff9f7c;
    z-index: 1;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}



/*********** BODY **********/


/*{
    background-image: url(../img/background.png);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    /*background-size: cover; /*par defaut:contain= payage ou portrait( applique img tt largeur du main sans tt couvrir), */
    /*padding: 35px/*1ER top bottom*/ /*0/*2EME left right*/
    

/*}*/



h1{ /* Tous les titres */
    font-family: 'Lato';
    background-color: #CFFFE280;
    word-spacing: 0.65rem;
}




/**** BOUTON SCROLL ****/

.fas{ /* Taille Fleche du scroll */

    font-size: 2.5rem;
    color:  #03989E;
   
}
/*.fa-arrow-up:before { 

    
}*/


.bouton-scroll{ /* couleur bouton scroll */

    background: #03989E;
    height: 10% !important;

}

  