{% extends 'parent.html.twig' %}
{#JE RAPPELLE MA PAGE PRINCIPALE ET MODIFIE LE CONTENU#}
{% form_theme Formulaire 'bootstrap_4_layout.html.twig' %}
{% block contenuPrincipal %}
{{parent()}}
<section>
<div class="text-center"><h1> Ajouter un troc</h1></div>

<div class="formulaire">

{{ form(Formulaire) }}
</div>
</section>


{% endblock %}
