{# BLOC FOOTER #}
<footer>

{% block footer %}
    <div class="footer">
     <!-- DEBUT CONTENU FOOTER -->
        <!-- btn de scroll TELECHARGER FONTAWESOME -->
        <a href="#" class="btn-scroll">
            <i class="fas fa-arrow-circle-up"></i>
        </a>

        <!-- DEBUT FOOTER  -->

        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('contact') }}">Contactez-nous</a>
                        
            </div>
            <div class="col-md-6 text-right">
                <a href="{{ path('politique') }}">Politique de confidentialité</a>
                        
            </div>
        <div>

    </div>

    <!-- carte  -->
    <!--<div class="col-md-8">
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6037205336725!2d2.3024096157624276!3d48.86576657928823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdc9500b9a9%3A0x411c1baafb72ac94!2s12%20Avenue%20Montaigne%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1614327456646!5m2!1sfr!2sfr"
         style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>-->

{% endblock %}

</footer>